.top-margin{
	margin-top: 10%;
}
.debug-background{
	background-color: red;
}
a{
	color:#337ab7  !important;
	font-size:20px;
}
.personal-card{
	border-radius: 8px;
	border:1px solid #E5E9F2;
}
.personal-info{
	margin-top:10px;
}
.profile-img>img{
	height: 120px;
	width: 120px;
	border-radius: 5px;
}
.card-info>p{
	font-size:15px;
	color:#969696;
}
.card-info>i{
	margin-right: 8px;
}
.card-info>a{
	font-size: 15px;
}
.card-line{
	background-color:#e3e3e3;
	height:1px;
	margin-top: 10px;
}
.sup-header>h4{
	color:#337ab7;
}
.skills>p{
	font-weight: 700;
}
.education{

}

.education-degree{
	font-weight: 700;
}
.education-school{
	color: #969696;
}
.certificates>p>a{
	color: black;
	font-size: 15px;
}
.sub-skill{
	color:#747474;
	font-weight: 500 !important;
}
.gamecard-top{
	margin-top: 10px;
}
.gameimage>img{
}
.youtube-icon{
	color:#CD201F;
}
.portfolio-icon>a>span{
	color:black;
	position: relative;
	margin-left:10px;
	top:-7px;
}
.github-icon{
	color:#6e5494;
}
.portfolio-header{
	color:#969696;
}
