/*000d15 is the bacground color*/
body {
  font-family: 'Roboto',sans-serif;
  overflow-x: hidden; }

::selection {
  background: #F48FB1;
  /*color:#fff;*/ }

::-moz-selection {
  background: #F48FB1;
  /*color:#fff;*/ }

.mec-text-white {
  color: white; }

.mec-text-pink {
  color: #ff0082; }

.mec-text-p {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }

.mec-background {
  background-image: url("../assets/images/bodywallpaper.jpg");
  background-color: #cccccc; }

.mec-top-padding-top {
  padding-top: 3.8vw; }

.mec-cirle-button {
  background-color: transparent;
  border-color: #fff;
  border-radius: 50%;
  height: 70px;
  width: 70px; }

.mec-cirle-button:hover {
  background-color: #000d15;
  border-color: #000000; }

.mec-fa-bars {
  color: #fff;
  padding-top: 3px; }

.mec-dropdownmenu {
  background-color: white; }

.mec-dropdown-p {
  color: white; }

.mec-callout-transparent {
  padding-top: 8%;
  padding-bottom: 8%; }

.mec-img-center {
  /* leveraging bootstrap's img-circle makes display: block; */
  margin: 0 auto; }

.mec-callout-transparent h1 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 100;
  padding-top: 5px;
  padding-bottom: 5px;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2); }

.mec-callout-transparent h2 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 100;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2); }

.mec-animated {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s; }

.mec-animated-delayed {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.mec-animated-delayed-2x {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s; }

.mec-padding-top {
  padding-top: 167px; }

.mec-about-me-h1 {
  font-size: 5rem;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2); }

.mec-about-me-h3 {
  font-size: 50px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2); }

.mec-about-me-p {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }

.mec-padding-50 {
  padding-top: 50px; }

.mec-interests-item {
  margin-bottom: 10px;
  margin-top: 10px; }

.mec-skills {
  background-image: url("../assets/images/brick-wall2.jpg"); }

.mec-p {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }

/* Do NOT delete. SPAN's MUST have this/these style(s) in order to animate */
span.animated {
  display: inline-block; }

.circle span {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 25px; }

.circle {
  width: 100px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2; }

.circle canvas {
  margin: auto; }

.mec-skills-h3 {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2); }

.mec-white-icon {
  color: white;
  padding-bottom: 5px; }

.mec-fa-2x {
  font-size: 1.5em;
  color: white; }

.mec-h4 {
  font-size: 1.5vw;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }

.mec-h3 {
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }

.mec-date-h5 {
  padding-top: 1.5vw;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif; }

.mec-workexperience-row {
  background-image: url("../assets/images/workexperience.jpg"); }

.mec-workexperience ul {
  border-bottom: 0;
  text-align: center; }

.mec-workexperience ul li {
  float: none;
  margin-bottom: 0;
  display: inline-block;
  position: relative; }

.mec-workexperience ul li a.active {
  color: #fff;
  border-color: #ff0082;
  text-decoration: none;
  background-color: #ff0082; }
  .mec-workexperience ul li a.active:hover {
    color: #fff; }

.mec-workexperience ul li a:hover {
  color: #ff0082;
  border-color: #ff0082;
  text-decoration: none; }

.mec-workexperience ul li a {
  margin-right: 20px;
  margin-bottom: 2vw;
  line-height: 1.5;
  font-size: 23px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  color: #FFF;
  padding: 0px 20px;
  font-weight: 300;
  border-radius: 50px;
  text-align: center;
  position: relative;
  display: block;
  text-decoration: none; }

.mec-workexperience-carousel {
  margin-bottom: 5vw; }

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px; }

.timeline > li {
  margin-bottom: 20px;
  position: relative; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); }

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " "; }

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " "; }

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%; }

.timeline > li.timeline-inverted > .timeline-panel {
  float: right; }

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto; }

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto; }

.timeline-badge.primary {
  background-color: #2e6da4 !important; }

.timeline-badge.success {
  background-color: #3f903f !important; }

.timeline-badge.warning {
  background-color: #f0ad4e !important; }

.timeline-badge.danger {
  background-color: #d9534f !important; }

.timeline-badge.info {
  background-color: #5bc0de !important; }

.timeline-badge.pink {
  background-color: #ff0082 !important; }

.timeline-title {
  margin-top: 0;
  color: inherit; }

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0; }

.timeline-body > p + p {
  margin-top: 5px; }

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px; }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px); }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px; }

  ul.timeline > li > .timeline-panel {
    float: right; }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto; }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto; } }
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .mec-progress {
    margin-top: 3.5vw; }

  .mec-progress-arrow {
    margin-top: 2.6vw; }

  .mec-skills-h3-size {
    font-size: 4vw; }

  .mec-callout-transparent h1 {
    font-size: 46px; }

  .mec-callout-transparent h2 {
    font-size: 29px; }

  .mec-interest-h3 {
    padding-left: 10px; } }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .mec-progress {
    margin-top: 3.5vw; }

  .mec-progress-arrow {
    margin-top: 2.6vw; }

  .mec-skills-h3-size {
    font-size: 4vw; }

  .mec-callout-transparent h1 {
    font-size: 50px; }

  .mec-callout-transparent h2 {
    font-size: 29px; }

  .mec-interest-h3 {
    padding-left: 5px; } }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .mec-progress {
    margin-top: 3.3vw; }

  .mec-progress-arrow {
    margin-top: 2.8vw; }

  .mec-callout-transparent h1 {
    font-size: 70px; }

  .mec-callout-transparent h2 {
    font-size: 34px; }

  .mec-interest-h3 {
    padding-left: 30px; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .mec-progress {
    margin-top: 2.5vw; }

  .mec-progress-arrow {
    margin-top: 2vw; }

  .mec-skills-h3-size {
    font-size: 3vw; }

  .mec-callout-transparent h1 {
    font-size: 80px; }

  .mec-callout-transparent h2 {
    font-size: 40px; }

  .mec-interest-h3 {
    padding-left: 9px; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .mec-about-me-h1 {
    font-size: 80px !important; }

  .mec-progress {
    margin-top: 2.5vw; }

  .mec-progress-arrow {
    margin-top: 2.3vw; }

  .mec-callout-transparent h1 {
    font-size: 100px; }

  .mec-callout-transparent h2 {
    font-size: 50px; }

  .mec-interest-h3 {
    padding-left: 5px; } }
/* Wodry Styles */
.wodry-flipping {
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin-x: 50%; }

.wodry-flipping .front-face, .wodry-flipping .back-face {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.wodry-flipping .front-face {
  position: absolute; }

.wodry-flipping .back-face {
  position: relative; }

.mec-skill-progressbar {
  cursor: pointer; }

.mec-portfolio {
  padding-bottom: 15px;
  padding-top: 15px; }

.mec-contact-row {
  background-image: url("../assets/images/contact.jpg"); }

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px; }

.mec-contact-mail {
  padding-left: 30px; }

.form-control {
  background-color: #001525 !important;
  border: 1px solid #001525 !important;
  height: 50px !important;
  opacity: 0.7;
  border-bottom: 3px solid #1087EA !important; }

.input-group-addon {
  background-color: #001525 !important;
  border: 1px solid #001525 !important;
  color: white !important;
  padding: 6px 20px !important;
  opacity: 0.7;
  border-bottom: 3px solid #1087EA !important; }

.input-group-addon-user {
  padding: 6px 23px !important; }

.mec-contact-text-area {
  height: 215px !important; }

.textarea.form-control {
  height: auto; }

.btn-ctc {
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  font-size: 25px;
  color: #fff;
  background-color: #1087EA;
  border-radius: 50px;
  padding: 15px 20px;
  display: block;
  font-weight: 300;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 100%;
  font-family: 'Roboto' ,sans-serif; }

.btn-ctc:hover {
  background-color: white; }

.button, select {
  text-transform: none; }

.contact-social a {
  background-color: transparent;
  float: none;
  padding: 13px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: 10px;
  margin-bottom: 10px;
  display: inline-block;
  margin-top: 10px;
  padding-top: 20px;
  width: 6.9em;
  height: 6.9em;
  padding-left: 12px !important; }

.contact-social a i {
  color: white; }

.mec-footer {
  background-color: #001525 !important;
  padding-top: 50px;
  padding-bottom: 50px; }

.mec-footer h4 {
  color: #9c9c9c; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

/*# sourceMappingURL=styles.css.map */
